.container {
  display: grid;
  grid-template-columns: auto 1.9fr 0.7fr;
  grid-template-rows: 150px auto 100px;
  gap: 20px 20px; 
  grid-auto-flow: row;
  grid-template-areas:
    "logo title tools"
    "navigation content content"
    "footer footer footer";
  height: 100vh;
  padding: 20px;
  background-color: var(--grey-onyx);
}

.logo { grid-area: logo; }

.content { grid-area: content; }

.navigation { grid-area: navigation; }

.title { grid-area: title; }

.tools { grid-area: tools; }

.footer { grid-area: footer; }
