/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #FF1B1C;
    --second-color: #FF7F11;
    --white: #FFFFFF;
    --grey-silver: #C4C4C4;
    --grey-sonic: #777777;
    --grey-onyx: #444444;
    --grey-eerie-black: #212121;
}

body {
    margin: 0;
    color: var(--grey-silver);
}